.slide-container{
    margin: 5px 100px;
    width: 750px;
    border-radius: 300px;
    color: black;
}

.divi{
  display: flex;
  align-items: last baseline;
  justify-content: center;
  background-size: cover;
  border-radius: 30px;
  height: 500px;

}
.spanStyle{
  padding: 20px;
  background: black;
  color: white;
  border-radius: 5px;
  margin-bottom: 25px;
  width:100%
}

@media (max-width: 1000px) {
    .slide-container {
      width: 90%; /* Adjust the width to be a percentage of the viewport */
      border-radius: 20px; /* Reduce the border-radius for better fit on smaller screens */
      margin: 0 auto; /* Center the slide container */
      /* height: 200px; */
    }
    .divi{
      border-radius: 10px;
      height: 300px;
      /* width: 300px; */
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    .spanStyle{
      background: transparent;
      color: white;
      margin-top: 150px;
      max-width: 400px;
    }
  }